/* APPEARANCE DIRECTIVES ============ */

* {
	font-family: 'Hind Guntur', sans-serif;
	line-height: 1.5;
	font-size: 13pt;
}

body {
	background-color: var(--page-bg);
	color: var(--page-fg);
	margin: 0;
}

footer {
	background: var(--foot-bg);
	color: var(--foot-fg);
	padding: 2em 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Mada', sans-serif; 
	color: var(--page-hd);
	margin: 0;
}
header {
	background: var(--head-bg);
	color: var(--head-fg);
	padding: 1em 1em 0.5em 1em;
}
header svg {
	max-height: 6em;
}
header svg text {
	font-family: 'Sevillana', sans-serif; 
	color: var(--head-fg);
	fill: var(--head-fg);
}

h2 {
	font-size: 4em;
	line-height: 1.1;
	background-color: var(--mgeg20);
	display: table;
	margin: 0.25em 0 0.2em -0.4em;
	padding: 0.25em 0.25em 1em 0.35em;
	border-radius: 0.5em;
}

time {
	font-weight: bold;
	display: block;
	border-top: 1px dotted var(--mgeg40);
	padding: 0.4em 0;
	margin-top: -3.5em;
	position: absolute;
	width: 100%;
}

a {
	color: var(--page-ln);
}

nav {
	text-align: right;
	padding-top: 1.6em;
}

nav p {
	text-transform: uppercase;
	font-weight: bold;
}

nav p a {
	text-decoration: none;
	color: var(--nav-fg);
}

nav p a:hover, nav p a:focus {
	text-decoration: underline;
}

nav ul li {
	list-style-type: none;
	margin-bottom: 0.5em;
	color: var(--nav-fg);
}

article {
	position: relative;
	margin-top: 2em;
	margin-bottom: 6em;
}

img {
	max-width: 75%;
}

pre {
	display: inline-block;
	font-family: monospace;
	font-size: 11pt;
	background: var(--mgeg00);
	border: 1px solid var(--mgeg10);
	margin: 0;
	padding: 0.25em 0.5em;
}

dt {
	font-size: 18pt;
}

dd {
	display: block;
	margin-inline-start: 0px;
}
dd ul li {
	list-style-type: decimal;
}