body {
	font-family: 'Jost', sans-serif;
	margin-top: 4em;
	margin-left: 40%;
	margin-right: 20%;
	max-width: 25em;
}
h1 {
	font-size: 4em;
}
article,div {
	position: relative;
}
article {
	min-height: 5.5em;
}
hr {
	margin: 2em 0em 2em -8em;
	border: none;
	background: #ddd;
	height: 1px;
}
p {
	margin-top: 0.5em;
}
.lede {
	font-size: 1.25em;
	margin: 0;
}
a.roundel {
	position: absolute;
	left: -13em;	
	border-radius: 1.35em;
	display: block;
	border: 4px solid transparent;
	padding: 0.25em;
}
a.roundel:focus,a.roundel:hover {
	border: 4px solid #36c;
}
a.roundel>img {
	border-radius: 50%;
	width: 10em;
}
a.roundel:hover>img {
	border-radius: 1em;
}
div.roll {
	margin-left: -0.5em;
	margin-top: 1em;
}
div.roll a {
	border: 4px solid transparent;
	border-radius: 0.75em;
	padding: 0.25em;
	display: inline-block;
}
div.roll a:focus,div.roll a:hover {
	border: 4px solid #36c;
}
div.roll a img,div.roll a svg {
	width: 4em;
	height: 4em;
	border-radius: 0.5em;
}
article a {
	text-decoration: none;
	color: #36c;
}
article a:focus,article a:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}
article a:focus img,article a:hover img {
	border: 4px solid #36c;
}
article a img {
	border-radius: 1.35em;
	display: block;
	border: 4px solid transparent;
	padding: 0.25em;
	position: absolute;
	left: -8em;	
	width: 5em;
}
