body {
	font-family: 'Jost', sans-serif;
	position: absolute;
	left: 50%;
	margin-top: 4rem;
	margin-left: -20rem;
	max-width: 40rem;
}
nav ul,
article ul {
	list-style-type: lower-roman;
	padding-inline-start: 12rem;
}
h1 {
	font-size: 4em;
	font-weight: normal;
}
h1,p {
	margin-left: 12rem;
}
article,div {
	position: relative;
}
article {
	min-height: 5.5em;
}
hr {
	margin: 2rem 0rem 2rem 6rem;
	border: none;
	background: #ddd;
	height: 1px;
}
article hr {
	margin-left: 12rem;
}

p {
	margin-top: 0;
}
img.image {
	width: 100%;
	margin: 1em 0 0;
}
.lede {
	font-size: 1.25em;
}
.strap {
	font-weight: 800;
}
img.roundel {
	position: absolute;
	margin-left: 0;	
	padding: 0.25em;
	border-radius: 50%;
	width: 10rem;
	display: block;
}

div.roll {
	margin-left: 11.5rem;
	margin-top: 1em;
}
div.roll a {
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	border-radius: 0.75em;
	padding: 0.25em;
	margin-left: 0;
	height: 4em;
	display: inline-block;
}
div.roll a:focus,div.roll a:hover {
	border-width: 4px;
	border-color: #36c;
}
div.roll a img,div.roll a svg {
	width: 4em;
	height: 4em;
	border-radius: 0.5em;
}
article a, nav a {
	text-decoration: none;
	color: #36c;
}
article a:focus,article a:hover, nav a:focus,nav a:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}
article .title img {
	border-radius: 1.35em;
	display: block;
	border: 4px solid transparent;
	padding: 0.25em;
	position: absolute;
	left: 5rem;	
	width: 5rem;
}
article .title h2 {
	margin-left: 12rem;
}
article img.spanning {
	width: 100%;
}
div.roll a.external {
	border-style: dotted;
}

#colourblind ul {
    background: #f8f8f8;
    padding: 1rem;
	margin-left: 2rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    list-style: none;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}
#colourblind ul li a {
	display: block;
    padding: 0.20rem 0.75rem;
    border-radius: 0.25rem;
}
#colourblind ul li a:hover,#colourblind ul li a:focus {
    background: #666;
    color: #fff;
    text-decoration: none;
}
#colourblind ul li a.selected {
    background: #999;
    color: #fff;
}
div.gamut img {
	width: 100%;
}
div.gamut svg {
	position: absolute;
	left: 0;
	top: 0;
}
.gamut-shape {
	stroke: #333;
	stroke-width: 4px;
	stroke-dasharray: 4;
	fill: none;
	display: none;
}

#stringhorse div.roll img {
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

footer ul {
	margin-left: 12rem;
    list-style: none;
	padding-inline-start: 0;
	color: #666;
}

footer li {
	margin-top: 1rem;
}

/* Tweak the body margins and jazz on small screens */
@media only screen and (max-width: 768px) {
	body {
		position: relative;
		margin-top: 0;
		margin-left: 0;
		left: auto;
		max-width: 95%;
		overflow-x: hidden;
		padding: 1rem;
	}
	h1 {
		margin: 2rem 0;
		width: 100%;
		text-align: center;
	}
	body > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.lede {
		margin-left: unset;
		margin-bottom: 0;
	}
	img.roundel {
		position: unset;
	}
	article a img {
		left: 1rem;
	}
	div.roll {
		margin-top: unset;
		margin-left: unset;
	}
	div.roll a {
		height: 3rem;
	}
	div.roll a img,div.roll a svg {
		width: 3em;
		height: 3em;
	}
	hr {
		margin: 2rem 1rem;
	}
	nav ul, article ul {
		padding-inline-start: revert;
	}
	article p {
		margin-left: unset;
	}
	div.title {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div.title img {
		position: revert;
		left: unset;
		width: 6rem;
	}
	div.title h2 {
		margin-left: unset;
		text-align: center;
	}
	footer ul {
		margin-left: unset;
	}
}