body {
	font-family: 'Jost', sans-serif;
	position: absolute;
	left: 50%;
	margin-top: 4rem;
	margin-left: -20rem;
	max-width: 40rem;
}
h1 {
	font-size: 4em;
	font-weight: normal;
}
h1,p {
	margin-left: 12rem;
}
article,div {
	position: relative;
}
article {
	min-height: 5.5em;
}
hr {
	margin: 2rem 0rem 2rem 6rem;
	border: none;
	background: #ddd;
	height: 1px;
}
p {
	margin-top: 0;
}
img.image {
	width: 100%;
	margin: 1em 0 0;
}
.lede {
	font-size: 1.25em;
}
a.roundel {
	position: absolute;
	margin-left: 0;	
	border-radius: 1.35em;
	border: 4px solid transparent;
	padding: 0.25em;
}
a.roundel:focus,a.roundel:hover {
	border: 4px solid #36c;
}
a.roundel>img {
	border-radius: 50%;
	width: 10rem;
	display: block;
}
a.roundel:hover>img {
	border-radius: 1em;
}
div.roll {
	margin-left: 11.5rem;
	margin-top: 1em;
}
div.roll a {
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	border-radius: 0.75em;
	padding: 0.25em;
	margin-left: 0;
	height: 4em;
	display: inline-block;
}
div.roll a:focus,div.roll a:hover {
	border-width: 4px;
	border-color: #36c;
}
div.roll a img,div.roll a svg {
	width: 4em;
	height: 4em;
	border-radius: 0.5em;
}
article a {
	text-decoration: none;
	color: #36c;
}
article a:focus,article a:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}
article a:focus img,article a:hover img {
	border: 4px solid #36c;
}
article a img {
	border-radius: 1.35em;
	display: block;
	border: 4px solid transparent;
	padding: 0.25em;
	position: absolute;
	left: 5rem;	
	width: 5rem;
}
div.roll a.external {
	border-style: dotted;
}

div.folded {
    max-height: 0;
    overflow: hidden;
}
div.folded.open {
    max-height: 10000px;
    transition: max-height 2s ease-in;
}

#colourblind ul {
    background: #f8f8f8;
    padding: 1rem;
	margin-left: 2rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    list-style: none;
	display: flex;
	flex-flow: wrap;
}
#colourblind ul li a {
	display: block;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}
#colourblind ul li a:hover,#colourblind ul li a:focus {
    background: #666;
    color: #fff;
    text-decoration: none;
}
#colourblind ul li a.selected {
    background: #999;
    color: #fff;
}
div.gamut img {
	width: 100%;
}
div.gamut svg {
	position: absolute;
	left: 0;
	top: 0;
}
.gamut-shape {
	stroke: #333;
	stroke-width: 4px;
	stroke-dasharray: 4;
	fill: none;
	display: none;
}

/* Tweak the body margins and jazz on small screens */
@media only screen and (max-width: 768px) {
	body {
		position: relative;
		margin-top: 4rem;
		margin-left: 0;
	    left: 0;
    	max-width: 95%;
	}
	a.roundel>img {
		width: 8rem;
	}
	.lede {
		margin-left: 10rem;
	}
	h1,p,article .lede {
		margin-left: 8rem;
	}
	article a img {
		left: 1rem;
	}
	div.roll {
		margin-left: 9.5rem;
	}
	div.roll a {
		height: 3rem;
	}
	div.roll a img,div.roll a svg {
		width: 3em;
		height: 3em;
	}
	hr {
		margin: 1rem 0rem 1rem 6rem;
	}
}