html {
	user-select: none;
	-webkit-user-select: none;
}

body {
	font-family: 'MuseoModerno';
	overflow: hidden;
	color: #fff;
}

#backcloth {
	background: linear-gradient(0deg, rgba(0,0,112,1) 0%, rgba(0,0,60,1) 25%, rgba(0,0,0,1) 100%);
	z-index: -100;
}

#gameover {
	display: block;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 0 2em 0;
	background: rgba(0,0,0,0.65);
	text-align: center;
}

#gameover p {
	margin-top: -1em;
	padding: 1em;
	font-size: 1.5em;
}

#kiosk {
	text-align: center;
}

#highscores {
	padding-top: 2em;
}

#scoreslist {
	list-style-type: none;
	padding-inline-start: 0;
}

a {
	color:  #ff8;
	text-decoration: none;
}
a:hover,
a:focus {
	color:  #ff8;
	text-decoration: underline;
}

h1 {
	font-size: 7em;
	margin: 0;
}

a {
	padding: 0.5em 1em;
	border-radius: 0.5em;
	text-decoration: none;	
	white-space: nowrap;
}

a.primary {
	background: white;
	color: black;
}
a.secondary {
	margin-right: 2em;
	background: #545490;
	color: #ddd;
}

#gameover,
#stars,
#game {
	display: none;
	position: absolute;
	overflow: hidden;
}

.fullscreen {
	border: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block
}

#info {
	position: absolute;
	top: 0;
	font-size: 2em;
	padding: 2%;
	display: none;	
}

#credits {
	position: absolute;
	bottom: 0;
	font-size: 0.9em;
	padding: 2%;
}

/* A handful of size adjustments for smaller screens (my iPhone SE) */
@media only screen and (max-width: 800px) {
	h1 {
		font-size: 4em;
	}
	#gameover p {
		font-size: 1em;
	}
	a.primary,a.secondary {
	    font-size: 0.75em;
	}
	#highscores {
    	padding-top: 1em;
    }
    #info {
    	font-size: 1em;
    }
}